extends layout

block content
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur cumque accusantium nam iste vitae consequuntur voluptate sapiente est, molestiae vero maxime beatae optio delectus, reiciendis temporibus consectetur distinctio soluta assumenda.