extends layout

block content
    h2 Some Content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis suscipit a et culpa eius reprehenderit inventore, eligendi impedit magnam, ipsum asperiores molestiae ducimus explicabo soluta eum quibusdam dicta autem! Repellat.

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veritatis sit dolor quae nemo molestiae tempore perspiciatis ea fuga, nisi eligendi illum iusto adipisci placeat nostrum explicabo corporis aspernatur maiores.